[user]
	name = Lucas Vienna
	email = vienna@edomo.de
	signingkey = 4B74EE2D70439C47

[commit]
	template = /Users/lucas/.stCommitMsg
	gpgsign = true
[core]
	editor = nvim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	excludesfile = /Users/vienna/.gitignore_global

[credential]
	helper = store

[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[mergetool "vimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[diff]
	tool = vimdiff
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 

[alias]
	unstage = reset --soft HEAD^
	########
	dev = !git checkout develop && git pull origin develop
	staging = !git checkout staging && git pull origin staging
	master = !git checkout master && git pull origin
	########
	aliases = !git config -l | grep alias | cut -c 7-

[gpg]
	program = gpg
